$icomoon-font-path: "assets/scss/fonts" !default;
$icomoon-font-hash: 'g5ry7x';

$icon-key: \e91c;
$icon-send: \e90a;
$icon-mail: \e90b;
$icon-check-outline: \e90c;
$icon-check-circle: \e90d;
$icon-vpn_key: \e900;
$icon-plus-square: \e91d;
$icon-plus-circle: \e920;
$icon-shield2: \e91f;
$icon-arrow-up: \e906;
$icon-arrow-right: \e907;
$icon-arrow-left: \e908;
$icon-arrow-down: \e909;
$icon-close: \e914;
$icon-search: \e91a;
$icon-filter: \e91b;
$icon-toggle-on: \e915;
$icon-toggle-off: \e916;
$icon-shield: \e91e;
$icon-loading: \e913;
$icon-alert: \e919;
$icon-check: \e90e;
$icon-remove: \e905;
$icon-remove-circle: \e903;
$icon-trash: \e904;
$icon-spinner: \e902;
$icon-logout: \e901;
$icon-triangle-up: \e90f;
$icon-triangle-right: \e910;
$icon-triangle-left: \e911;
$icon-triangle-down: \e912;
$icon-notification: \e917;
$icon-warning: \e918;

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?#{$icomoon-font-hash}');
  src:  url('#{$icomoon-font-path}/icomoon.eot?#{$icomoon-font-hash}#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?#{$icomoon-font-hash}') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?#{$icomoon-font-hash}') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?#{$icomoon-font-hash}#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spin {
  display: inline-block;
  @include animation(spinner 1s infinite linear);
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.icon-key {
  &:before {
    content: unicode($icon-key); 
  }
}
.icon-send {
  &:before {
    content: unicode($icon-send); 
  }
}
.icon-mail {
  &:before {
    content: unicode($icon-mail); 
  }
}
.icon-check-outline {
  &:before {
    content: unicode($icon-check-outline); 
  }
}
.icon-check-circle {
  &:before {
    content: unicode($icon-check-circle); 
  }
}
.icon-vpn_key {
  &:before {
    content: unicode($icon-vpn_key); 
  }
}
.icon-plus-square {
  &:before {
    content: unicode($icon-plus-square); 
  }
}
.icon-plus-circle {
  &:before {
    content: unicode($icon-plus-circle); 
  }
}
.icon-shield2 {
  &:before {
    content: unicode($icon-shield2); 
  }
}
.icon-arrow-up {
  &:before {
    content: unicode($icon-arrow-up); 
  }
}
.icon-arrow-right {
  &:before {
    content: unicode($icon-arrow-right); 
  }
}
.icon-arrow-left {
  &:before {
    content: unicode($icon-arrow-left); 
  }
}
.icon-arrow-down {
  &:before {
    content: unicode($icon-arrow-down); 
  }
}
.icon-close {
  &:before {
    content: unicode($icon-close); 
  }
}
.icon-search {
  &:before {
    content: unicode($icon-search); 
  }
}
.icon-filter {
  &:before {
    content: unicode($icon-filter); 
  }
}
.icon-toggle-on {
  &:before {
    content: unicode($icon-toggle-on); 
  }
}
.icon-toggle-off {
  &:before {
    content: unicode($icon-toggle-off); 
  }
}
.icon-shield {
  &:before {
    content: unicode($icon-shield); 
  }
}
.icon-loading {
  &:before {
    content: unicode($icon-loading); 
  }
}
.icon-alert {
  &:before {
    content: unicode($icon-alert); 
  }
}
.icon-check {
  &:before {
    content: unicode($icon-check); 
  }
}
.icon-remove {
  &:before {
    content: unicode($icon-remove); 
  }
}
.icon-remove-circle {
  &:before {
    content: unicode($icon-remove-circle); 
  }
}
.icon-trash {
  &:before {
    content: unicode($icon-trash); 
  }
}
.icon-spinner {
  &:before {
    content: unicode($icon-spinner); 
  }
}
.icon-logout {
  &:before {
    content: unicode($icon-logout); 
  }
}
.icon-triangle-up {
  &:before {
    content: unicode($icon-triangle-up); 
  }
}
.icon-triangle-right {
  &:before {
    content: unicode($icon-triangle-right); 
  }
}
.icon-triangle-left {
  &:before {
    content: unicode($icon-triangle-left); 
  }
}
.icon-triangle-down {
  &:before {
    content: unicode($icon-triangle-down); 
  }
}
.icon-notification {
  &:before {
    content: unicode($icon-notification); 
  }
}
.icon-warning {
  &:before {
    content: unicode($icon-warning); 
  }
}
