@import "../../../assets/scss/mixins";
@import "../../../assets/scss/settings";

:host {
  .zone {
    position: relative;

    .close {
      position: absolute;
      font-size: 31px;
      left: 375px;
      top: -30px;
      color: #ccc;
      cursor: pointer;
      @include transition(all 300ms);
  
      &:hover {
        color: darken(#ccc, 20%);
      }
    }

    form {
      label {
        .error {
          float: left;
          margin-left: 10px;
        }
      }
  
      button {
        margin-bottom: 20px!important;
      }
  
      button[disabled] {
        background: #eee!important;
        border-color: #ccc!important;
      }
    }
  }
}
