<form (ngSubmit)="onSubmit(zoneDetailsForm)" #zoneDetailsForm="ngForm">
  <div class="zone">

    <div class="close" (click)="close()"><i class="icon-close"></i></div>
    
    <label for="name">
      Zone name
      <input type="text" name="name" [(ngModel)]="name" #name_error="ngModel" placeholder="Zone 1" required />
      <div [hidden]="(name_error.valid || !name_error.touched)" class="error">Invalid</div>
    </label>
    <label for="description">
      Zone description
      <input type="text" name="description" [(ngModel)]="description" #description_error="ngModel" placeholder="Front door" />
      <div [hidden]="(description_error.valid || !description_error.touched)" class="error">Invalid</div>
    </label>

    <input type="hidden" name="number" [(ngModel)]="number" />

    <div>
      <app-toggle
        [isEnabled]="enabled"
        (onToggle)="toggle($event)"
      >
        Enabled
      </app-toggle>      
    </div>

    <div class="btn" [ngClass]="{'disabled': zoneDetailsForm.invalid}" (click)="onSubmit(zoneDetailsForm)">
      <span *ngIf="!submitting">Save</span>
      <span *ngIf="submitting"><i class="icon-spin icon-loading"></i></span>
    </div>

    <div class="btn btn-danger" [ngClass]="{'disabled': zoneDetailsForm.invalid}" (click)="delete(zoneDetailsForm)">
      <span>Delete</span>
    </div>
  </div>
</form>
