@import "../../../assets/scss/settings";
@import "../../../assets/scss/mixins";

:host {
  .inner {
    position: relative;
    float: right;
    top: 0;
    right: 0;

    > h4 {
      .icon-alert {
        position: relative;
        top: 3px;
        font-size: 16px;
      }
    }

    &.open > h4 {
      .icon-alert {
        color: $error;
      }
    }

    > div,
    > span {
      margin-left: 15px;
      color: #555;
    }

    .events {
      position: absolute;
      top: 38px;
      min-width: 320px;
      right: 2px;
      border: 1px solid #ddd;
      box-shadow: 1px 1px 8px rgba(#ccc, 0.3);
      @include flex-wrap(wrap);
      @include flex-display();

      .event {
        width: 100%;
        padding: 10px 8px;
        border-bottom: 1px solid #ccc;
        padding-right: 100px;
        position: relative;
        @include flex-wrap(wrap);
        @include flex(0 0 100%);
        @include flex-display();
        @include align-items(center);

        div {
          display: block;
          width: 100%;
        }

        .btn {
          position: absolute;
          right: 5px;
        }

        &:nth-of-type(odd) {
          background: #ececec;
        }

        &:nth-of-type(even) {
          background: darken(#fff, 1%);
        }

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }
}

@include desktop {
  :host {
    .inner {
      .events {
        min-width: 540px;
      }
    }
  }
}
